aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==44.0.0
customtkinter==5.2.2
darkdetect==0.8.0
edge-tts==7.2.8
frozenlist==1.8.0
idna==3.13
keyboard==0.13.5
multidict==6.7.1
numpy==2.4.4
packaging==26.2
propcache==0.4.1
pycparser==3.0
requests==2.33.1
sounddevice==0.5.5
soundfile==0.13.1
srt==3.5.3
tabulate==0.10.0
tqdm==4.67.3
twitchio==2.8.2
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
yarl==1.23.0

